@font-face {
    font-family: 'Queensides';
    src: url('/font/Queensides.woff2') format('woff2'),
        url('/font/Queensides.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Queensides';
    src: url('/font/Queensides-Medium.woff2') format('woff2'),
        url('/font/Queensides-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Queensides';
    src: url('/font/Queensides-Light.woff2') format('woff2'),
        url('/font/Queensides-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

